doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      a(class='', href='/') Home
      a(class='bn', href='/leaderboard') Leaderboard
      if user
        if isAdmin == "yes"
          a(class='', href='/a/users/user') Users
          a(class='', href='/a/admins/admin') Admins

        a(class='', href='/g/play') Play
        a(class='', href='/u/profile') Profile
        a(class='', href='/u/logout') Logout #{user.username}
      else
        a(class='', href='/u/login') Login
    block content